{% extends 'shop/basic.html' %}
{% load static %}
{% block title%} About Us{% endblock %}
{% block body %}


<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
        <center><img src="{% static 'images/logo.png' %}" alt="" height="200" width="200"></center>
    </div>
  </div>
  <div>
  <p>
      <h4 style="text-align:center; font-family:'Kaushan Script', cursive;">RoyalKart is a eCommerce Website that gives semi-online support <br>to the local shop vendors to rejuvenate their business in the online market.</h4>
    </p>
  </div>
</main>

{% endblock %}